{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest/globals": true
  },
  "plugins": [
    "react",
    "jest",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "classes": true
    },
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      },
      "babel-plugin-root-import": {
        "rootPathSuffix": "app"
      }
    }
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    "camelcase": [0, {"properties": "never"}],

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
  }
}
