# PATH_add ./bin
# PATH_add ./vendor/bundle/bin
# PATH_add ./node_modules/.bin
export secret_key_base=5eabd1e39824217842cbfdd187baac88d1dc7efc0da865bdeabd2ce0a2bea03a79a0c548be9126f92e95911fc2dbc4f1152b307b41e5f5152bac4c0a1833a07c

export PATH=$PWD/node_modules/.bin:$PWD/bin:$PATH
