= bootstrap_devise_error_messages!
= render 'new_form'
-# = link_to user_twitter_omniauth_authorize_path, class: 'btn btn-block btn-primary' do
-#   %i.fa.fa-twitter
-#   &nbsp;Twitterで登録する

%hr

= render 'devise/shared/links'
