-# .pull-right
-#   = render 'shared/bookmark', obj: @user,
-#                               follow_path: follow_user_path(@user),
-#                               unfollow_path: unfollow_user_path(@user)
- content_for :read do
  -# あとで自己紹介文入れる
-#= render 'shared/product_index', user: @user
= render 'shared/product'