label {
  cursor: pointer;
  display: block;
  margin: 0 0 7px 0;
}

button {
  cursor: pointer;
}

.button-group {
  white-space: nowrap;

  > .button {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  box-sizing: border-box;
  border: 0;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 16px;
  text-align: center;
  transition: all .2s ease;

  &.danger {
    color: $color-red;

    &:hover {
      color: $color-red;
    }
  }
}

.button-default {
  border: 1px solid rgba(#000, .06);
  color: rgba($color-font, .7);
}

.button-primary {
  background-color: $color-primary;
  color: #fff;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

.button-secondary {
  background-color: $color-secondary;
  color: #fff;

  &:hover {
    background-color: darken($color-secondary, 5%);
  }
}

.button-danger {
  background-color: $color-red;
  color: #fff;

  &:hover {
    background-color: darken($color-red, 5%);
  }
}

.button-facebook {
  background-color: $color-facebook;
  color: #fff;

  &:hover {
    background-color: lighten($color-facebook, 5%);
  }
}

.button-google {
  background-color: $color-google-plus;
  color: #fff;

  &:hover {
    background-color: darken($color-google-plus, 5%);
  }
}

.button-twitter {
  background-color: $color-twitter;
  color: #fff;

  &:hover {
    background-color: darken($color-twitter, 5%);
  }
}


.button-right {
  float: right;
}

.button-block {
  margin: 0 0 15px 0;
  text-align: center;
  width: 100%;
}

.button-dropdown {
  position: relative;

  &:hover {
    .md-icon {
      color: $color-black;
    }

    ul {
      display: block;
    }
  }

  .md-icon {
    color: rgba($color-font, .5);
    cursor: pointer;
    padding: 10px;
    transition: all .2s ease;
  }

  ul {
    background-color: #fff;
    border-radius: 2px 0 2px 2px;
    display: none;
    filter: drop-shadow(0 0 2px rgba(#000, .12));
    list-style: none;
    margin: -3px 0 0 0;
    padding: 8px 0;
    position: absolute;
    right: 18px;
    width: 120px;
    z-index: 100;

    li {
      font-size: 13px;

      a {
        display: block;
        padding: 2px 20px;
      }
    }

    &:before {
      border: 3px solid transparent;
      border-bottom-color: #fff;
      border-right-color: #fff;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      top: -6px;
      width: 0;
    }
  }
}
