= content_for :title, '利用規約'

= content_for :read, 'まだつくりかけです！'

:markdown
  ## このサイトについて
  
  ・ふみほごは小説の下書き等のテキストをWeb上で書いたり公開したりするためのサイトです。

  ・この利用規約は、ふみほごのウェブサイト( https://fumihogo.herokuapp.com/ )を利用する人が守るべき事柄を列挙したものです。利用を開始した時点でこの利用規約に同意されたものとみなされます。一読しておいて下さい。

  ・この利用規約は随時改定されます。

  ・ふみほごでは、編集中の、あるいは、保存されたテキストデータの保全される保証はありません。

  サービス提供者はデータの保全に努めますが、やむを得ない事情によりデータを消失する場合があり得ます。あらかじめご了承下さい。

  ・ふみほごで公開するテキストの権利はユーザーに帰属します。ふみほごが無断で出版その他の利用をすることはありません。

  ## 登録とログイン

  ・ふみほごを利用する際にはログインする必要があります。メールアドレス・パスワードを登録してアカウントを作成する方法と、Twitterを使用してアカウントを作成する方法があります。

  ・メールアドレス・パスワードを登録した場合、アカウント編集でユーザー情報を修正できます。メールアドレスが有効でなくなった場合は必ず有効なメールアドレスに更新して下さい。パスワードは他者に漏らさず、厳重に管理して下さい。複数人による一つのアカウントの共有は禁止します。
  
  ・ユーザーがふみほごの利用をやめる場合、退会することができます。アカウント編集で退会処理をして下さい。アカウントが削除され、ふみほごに置かれたデータがすべて削除されます。データが必要な場合は事前にバックアップを取っておいて下さい。

  ## 公開するテキストの内容について

  ・ふみほごは主に小説の下書きを公開する目的で作られたサイトですが、ジャンルは小説のみに限定されません。その他のテキストを置く目的でも利用は可能です。

  ・公開範囲には全体公開、ログインユーザーのみ、リスト限定、といった制限を設けることができます。閲覧を許可するユーザーのリストを作れば、特別のグループメンバーのみ閲覧が可能になります。
  
  ・18才未満の閲覧禁止に指定すると、ユーザーが閲覧するに際して年齢の認証ページを表示します。不特定多数の利用者に閲覧可能である点では指定なしの場合と同じですので、内容には十分注意して下さい。
  
  ・法令に抵触しない内容として下さい。他者の文書を無断で複製する明らかな著作権侵害、特定個人を中傷する名誉毀損、といった犯罪目的の利用は禁止します。その他、他者のプライバシーを侵害したり、財産を侵害したり、商標権を侵害したりする行為、その他の違法行為は禁止します。
  
  ・一定の了解を得た範囲内の二次創作を執筆・公開するのは問題ありません。社会常識を守って利用して下さい。
  
  ・ふみほごを利用するユーザーは自己の責任でテキストを公開するものとします。テキストを公開することで生じた結果について、ユーザーに全ての責任を負っていただきます。

  ## 補遺

  ふみほごはまだ開発中です。
  
  すべての機能は予告なく廃止または、変更される可能性があります。あらかじめご了承の上ご利用をお願い致します。


