---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4igJ8eA3x8ulzhT9B5fj2tQYu", oauth_nonce="29d97c24103376ef4ae17f98631ef940",
        oauth_signature="2s%2B1nAumwRd2EW60xRSCiRKF%2BpM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524921815", oauth_token="52043701-2evxg41crJk8JGszUvt8RB6oCsaehCNFlgAN5ouix",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 13:23:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d1586aa590e8b3b321b58895bf39c0cc
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '1524921898'
      X-Response-Time:
      - '124'
      X-Transaction:
      - 002aa687008ffd65
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":52043701,"id_str":"52043701","name":"\u84b2\u7530\u304f\u3093||\u3084\u3059\u30535\/3\u897f\uff12\uff3125a","screen_name":"sawayama_yasuko","location":"","description":"\u6700\u8fd1\u30ab\u30aa\u30b9\u5316\u304c\u3044\u3061\u3058\u308b\u3057\u3044\u3067\u3059\u304c\u3001\u57fa\u672c\u7684\u306b\u3053\u308c\u306f\u8150\u5973\u5b50\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\u3002\u207018\u6b73\u672a\u6e80\u3068\u30b9\u30d1\u30e0\u696d\u8005\u306f\u30d6\u30ed\u30c3\u30af\u3057\u307e\u3059\u3093
        https:\/\/t.co\/BWBsVgCfrB","url":"https:\/\/t.co\/V4jvmSLrBM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/V4jvmSLrBM","expanded_url":"http:\/\/say.topaz.ne.jp\/","display_url":"say.topaz.ne.jp","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/BWBsVgCfrB","expanded_url":"http:\/\/www.pixiv.net\/member.php?id=2459937","display_url":"pixiv.net\/member.php?id=\u2026","indices":[57,80]}]}},"protected":false,"followers_count":508,"friends_count":429,"listed_count":40,"created_at":"Mon
        Jun 29 12:40:26 +0000 2009","favourites_count":3665,"utc_offset":32400,"time_zone":"Tokyo","geo_enabled":true,"verified":false,"statuses_count":167808,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDECE9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme3\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme3\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1664938249\/sawayama_yasuko_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1664938249\/sawayama_yasuko_normal.jpg","profile_link_color":"088253","profile_sidebar_border_color":"D3D2CF","profile_sidebar_fill_color":"E3E2DE","profile_text_color":"634047","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Sat, 28 Apr 2018 13:23:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=853249524558581761&owner_id=52043701
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4igJ8eA3x8ulzhT9B5fj2tQYu", oauth_nonce="b5513c5f9b5d13de88faa76e3d762e79",
        oauth_signature="srBTlEx%2BgXbZGLuhdZnZYcuRFR8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524921816", oauth_token="52043701-2evxg41crJk8JGszUvt8RB6oCsaehCNFlgAN5ouix",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 13:23:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - cdb885ea7d613bcf5d225074a99293ca
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '1524921898'
      X-Response-Time:
      - '150'
      X-Transaction:
      - 00ca11dc00ed3e1d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":853249524558581761,"id_str":"853249524558581761","name":"\u539f\u7a3f\u7528","uri":"\/sawayama_yasuko\/lists\/list1","subscriber_count":1,"member_count":31,"mode":"public","description":"","slug":"list1","full_name":"@sawayama_yasuko\/list1","created_at":"Sat
        Apr 15 14:11:53 +0000 2017","following":true,"user":{"id":52043701,"id_str":"52043701","name":"\u84b2\u7530\u304f\u3093||\u3084\u3059\u30535\/3\u897f\uff12\uff3125a","screen_name":"sawayama_yasuko","location":"","description":"\u6700\u8fd1\u30ab\u30aa\u30b9\u5316\u304c\u3044\u3061\u3058\u308b\u3057\u3044\u3067\u3059\u304c\u3001\u57fa\u672c\u7684\u306b\u3053\u308c\u306f\u8150\u5973\u5b50\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\u3002\u207018\u6b73\u672a\u6e80\u3068\u30b9\u30d1\u30e0\u696d\u8005\u306f\u30d6\u30ed\u30c3\u30af\u3057\u307e\u3059\u309[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members/show.json?list_id=853249524558581761&owner_id=52043701&screen_name=_
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4igJ8eA3x8ulzhT9B5fj2tQYu", oauth_nonce="103e401532d95b7ad5e1b374bccaedf5",
        oauth_signature="pp7%2Bd3ciOjlJmBOaNRxlR8MJEUg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524921816", oauth_token="52043701-2evxg41crJk8JGszUvt8RB6oCsaehCNFlgAN5ouix",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 13:23:37 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 6354148d87cebfa1dc37553fd7cacb46
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '4'
      X-Rate-Limit-Reset:
      - '1524921899'
      X-Response-Time:
      - '142'
      X-Transaction:
      - 0064e06600476d30
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":109,"message":"The specified user is not a member
        of this list."}]}'
  recorded_at: Sat, 28 Apr 2018 13:23:37 GMT
recorded_with: VCR 4.0.0
