.sidebar-title {
  font-family: "Hannari";
}

@media (max-width: 768px) {
  .content-inner {
    padding: 15px 15px;
  }
}

.pull-right {
  float: right;
}

@import "info-box";
@import "page-content";
