.sidebar-title {
  font-family: "Hannari";
}

@media (max-width: 768px) {
  .content-inner {
    padding: 15px 15px;
  }
}

.pull-right {
  float: right;
}

.text-danger, .text-error {
  color: $color-red;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@import "info-box";
@import "page-content";
