#productNewForm {

  margin-bottom: 60px;

  .description {
    margin-bottom: 20px;
  }

  .buttonArea {
    margin-top: 20px;
  }
}

.textEditorForm {
  font-size: 16px;
  line-height: 1.428571429;
  color: #666;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  .editorArea {
    padding: 0 10px;
    height: 325px !important;
  }
}

.buttonArea {
  margin-bottom: 50px;

  button {
    margin-right: 20px;
  }
}
