@import "bootstrap-variables";
@import "japanese_font";

$color-primary: #EB6864;
$color-secondary: #22B24C;
;

@import "particles/particles";

@import "home";

// Bootstrap body padding for fixed navbar
body {
  font-size: 16px;
}