-#= render 'shared/product_index', user: current_user
- content_for :title do
  タイトル
  -#- if user.profile_image
  -#  = image_tag user.profile_image, size: '40x40'
  -##{user.nickname}さんの作品一覧
= render 'shared/product'
