---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4igJ8eA3x8ulzhT9B5fj2tQYu", oauth_nonce="ebd8b4e45a54954ad8b84cc36bab20b2",
        oauth_signature="IykD%2BFnANthU7hrlgCwQJGX04ro%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524921817", oauth_token="52043701-2evxg41crJk8JGszUvt8RB6oCsaehCNFlgAN5ouix",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 13:23:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b1f30b28a07010d5f5692e3d837826e0
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '1524921898'
      X-Response-Time:
      - '274'
      X-Transaction:
      - 00e008d8000c58f5
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: UTF-8
      string: '{"id":52043701,"id_str":"52043701","name":"\u84b2\u7530\u304f\u3093||\u3084\u3059\u30535\/3\u897f\uff12\uff3125a","screen_name":"sawayama_yasuko","location":"","description":"\u6700\u8fd1\u30ab\u30aa\u30b9\u5316\u304c\u3044\u3061\u3058\u308b\u3057\u3044\u3067\u3059\u304c\u3001\u57fa\u672c\u7684\u306b\u3053\u308c\u306f\u8150\u5973\u5b50\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\u3002\u207018\u6b73\u672a\u6e80\u3068\u30b9\u30d1\u30e0\u696d\u8005\u306f\u30d6\u30ed\u30c3\u30af\u3057\u307e\u3059\u3093
        https:\/\/t.co\/BWBsVgCfrB","url":"https:\/\/t.co\/V4jvmSLrBM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/V4jvmSLrBM","expanded_url":"http:\/\/say.topaz.ne.jp\/","display_url":"say.topaz.ne.jp","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/BWBsVgCfrB","expanded_url":"http:\/\/www.pixiv.net\/member.php?id=2459937","display_url":"pixiv.net\/member.php?id=\u2026","indices":[57,80]}]}},"protected":false,"followers_count":508,"friends_count":429,"listed_count":40,"created_at":"Mon
        Jun 29 12:40:26 +0000 2009","favourites_count":3665,"utc_offset":32400,"time_zone":"Tokyo","geo_enabled":true,"verified":false,"statuses_count":167808,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"EDECE9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme3\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme3\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1664938249\/sawayama_yasuko_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1664938249\/sawayama_yasuko_normal.jpg","profile_link_color":"088253","profile_sidebar_border_color":"D3D2CF","profile_sidebar_fill_color":"E3E2DE","profile_text_color":"634047","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Sat, 28 Apr 2018 13:23:37 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/show.json?list_id=853249524558581761&owner_id=52043701
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4igJ8eA3x8ulzhT9B5fj2tQYu", oauth_nonce="f255150a1b7aaf866f4dd0b95a7ddad2",
        oauth_signature="Gj%2FOOxnoCUtWY3jKIEFkaE36pvA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524921817", oauth_token="52043701-2evxg41crJk8JGszUvt8RB6oCsaehCNFlgAN5ouix",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 28 Apr 2018 13:23:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 80bcc60a388d295ec884ab5c1fd57601
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '1524921898'
      X-Response-Time:
      - '183'
      X-Transaction:
      - 00fce27d007daaf6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":853249524558581761,"id_str":"853249524558581761","name":"\u539f\u7a3f\u7528","uri":"\/sawayama_yasuko\/lists\/list1","subscriber_count":1,"member_count":31,"mode":"public","description":"","slug":"list1","full_name":"@sawayama_yasuko\/list1","created_at":"Sat
        Apr 15 14:11:53 +0000 2017","following":true,"user":{"id":52043701,"id_str":"52043701","name":"\u84b2\u7530\u304f\u3093||\u3084\u3059\u30535\/3\u897f\uff12\uff3125a","screen_name":"sawayama_yasuko","location":"","description":"\u6700\u8fd1\u30ab\u30aa\u30b9\u5316\u304c\u3044\u3061\u3058\u308b\u3057\u3044\u3067\u3059\u304c\u3001\u57fa\u672c\u7684\u306b\u3053\u308c\u306f\u8150\u5973\u5b50\u30a2\u30ab\u30a6\u30f3\u30c8\u3067\u3059\u3002\u207018\u6b73\u672a\u6e80\u3068\u30b9\u30d1\u30e0\u696d\u8005\u306f\u30d6\u30ed\u30c3\u30af\u3057\u307e\u3059\u309[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members/show.json?list_id=853249524558581761&owner_id=52043701&screen_name=83561601
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4igJ8eA3x8ulzhT9B5fj2tQYu", oauth_nonce="9cf1248d2cb3c5cd844f817f6f659054",
        oauth_signature="%2Bzfr3ighj3fH75qP73XriFGWxGw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1524921818", oauth_token="520437[...]
